@if (Session["kullaniciAdi"] == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Login", "Login", "Account", null, null)
        </li>
    </ul>

}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("Hi!"+Session["kullaniciAdi"], "", "Urunler", null, null)
    </li>
    <li>
        @Html.ActionLink("Logout", "Logout", "Account", null, null)
    </li>
</ul>
}
